
@media screen and (max-width: 800px) {
    .text {
      font-size: 16px;
      color: brown;
    }

    .reup {
      width: 100%;
      left: 30px;
      margin: 50px;
      margin-top: 100px;
      margin-left: 180px;
      border-radius: 10px;
    }
  }

@media screen and (max-width: 700px) {
  .reup {
    color: rgb(19, 88, 10);
    width: 100%;
      left: 30px;
      margin: 50px;
      margin-left: 140px;
      margin-top: 100px;
      border-radius: 10px;
  }
}

/* @media screen and (max-width: 500px) {
  .reup {
    color: rgb(199, 69, 30);
    width: 100%;
      left: 30px;
      margin: 50px;
      margin-top: 100px;
      border-radius: 10px;
  }
} */

@media (400px <= width <= 600px )  {
  /* Styles for viewports between 400px and 600px. */
  .reup {
    color: rgb(199, 69, 30);
    width: 100%;
    left: 30px;
    margin: 50px;
    margin-top: 100px;
    border-radius: 10px;
  }
}